/*
    Poor CSS organisation below. IDs are used for styling, which is bad practice.
    Please let me have my fun, it's the weekend.
*/

html {
    background-color: black;
    font-family: 'Comic Sans MS'; /* You thought you would have a choice in the matter */
    color: hotpink;

    --button-size: 3rem;
    --scrollbar-width: 20px;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#typing-zone {
    padding: 1rem;
    flex: 1;
    font-size: 5vw;
    word-break: break-all;
    overflow-y: scroll;
    line-height: 1.05em;
}

#typing-zone:focus {
    outline: none;
    border: none;
    caret-color: violet;
}

#emoji-selector {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    width: calc(7 * var(--button-size) + var(--scrollbar-width));
    color: white;
}

#emoji-selector button {
    width: var(--button-size);
    height: var(--button-size);
    font-size: calc(0.66 * var(--button-size));
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

/*
    On mobile, the emoji selector becomes a narrower bar.
    (Maybe it should be at the top or bottom instead?)
*/
@media screen and (max-width: 450px) {
    #typing-zone {
        padding: 0.5rem;
    }
    #emoji-selector {
        width: calc(2 * var(--button-size));
    }
}